@import "scss-mixins";
// @import "typography";
// @import "iframes";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  div.builder {
    max-width: 700px;
    margin: 10px auto;
    .container {
      max-width: 100%;
    }
  }
  div.stories {
    max-width: 640px;
  }
  div.story {
    min-height: 200px;
    max-width: 33.3%;
    display: inline-block;
    padding: 0;
    float: left;
    &:not(:first-child):not(:last-child) {
      padding: 0 6.5px;
    }
    &:last-child {
      padding-right: 0px;
      padding-left: 13px;
    }
    &:first-child {
      padding-left: 0px;
      padding-right: 13px;
    }
  }
  h4 {
    color: black;
    font-family: ProximaNovaCond-Semibold;
    font-size: 20px;
    border-bottom: 1px solid #ddd;
    margin: 0 0 10px;
    padding-bottom: 4px;
  }
  img {
    max-width: 100%;
  }
  a {
    text-decoration: none;
    color: black;
    h5 {
      font-family: ProximaNovaCond-Semibold;
      font-size: 15px;
      line-height: 18px;
      margin-top: 0;
      padding-top: 10px;
    }
    &:hover {
      text-decoration: underline;
    }
  }
}
@media only screen and (max-width : 590px) {
// body {
//   }
}
@media only screen and (max-width : 500px) {
body {
    h4 {
      font-size: 16px;
      margin: 0 0 11px;
      padding-bottom: 4px;
    }
    div.stories {
      div.story {
        h5 {
          font-size: 13px;
          line-height: 15px;
          padding-top: 7px;
        }
        &:not(:first-child):not(:last-child) {
          padding: 0 3.5px;
        }
        &:last-child {
          padding-right: 0px;
          padding-left: 7px;
        }
        &:first-child {
          padding-left: 0px;
          padding-right: 7px;
        }
      }
    }
  }
}

@font-face {font-family: 'ProximaNovaCond-Semibold';src: url('http://x.kinja-static.com/assets/fonts/proxima/ProximaNovaCondBold-6e302c8978b1bd9d453fba318a1fa572.woff');}
form {
  width: 100%;
}

input {
  &:focus {
    outline: none;
  }
}
input[type=text] {
  // max-width: 460px;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  font-size: 15px;
}

iframe {
  border: none;
  width: 100%;
}

.result {
  border-top: rgba(0,0,0,0.3) 1px dashed;
  border-bottom: rgba(0,0,0,0.3) 1px dashed;
  height: auto;
  min-height: 200px;
  &:focus {
    outline: none;
  }
}
 .embed {
  width: 100%;
  border: none;
  margin-top: 10px;
  &:focus {
    outline: none;
  }
 }
